@use "sass:map";

@use "utils";

/*
 * Hover effect where the background rotates in the X axis.
 */
@mixin hover-rotate-x($color: red) {
  position: relative;

  &::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    opacity: 0;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(90deg);
    transform-origin: 50% 100%;
    z-index: -1;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
      transform: perspective(1000px) rotateX(0);
    }
  }

  @include utils.animation() {
    &::before {
      transition-property: transform, opacity;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
      will-change: transform, opacity;
    }
  }
}

/**
 * Skeleton Loading Effect Animation.
 */
@mixin skeleton($pulse: false, $color: hsl(0, 0%, 85%)) {
  box-sizing: border-box;
  position: relative;
  background-color: $color;
  overflow: hidden;

  @include utils.animation() {
    @if ($pulse) {
      will-change: opacity;
      animation-name: skeleton-loader-pulse;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
      animation-iteration-count: infinite;
      animation-delay: 0.5s;
    } @else {
      &::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 400% 100%;
        // Don't use "transparent". See Lea Verou answer: https://stackoverflow.com/a/56548711
        background-image: linear-gradient(to right, rgba(255,255,255,0), #FFFFFF, rgba(255,255,255,0));
        will-change: transform;
        animation-name: skeleton-loader-progress;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.6, 1);
        animation-iteration-count: infinite;
        z-index: 1;
      }
    }

    @keyframes skeleton-loader-progress {
      0% {
        transform: translate3d(-150%, 0, 0);
      }
      100% {
        transform: translate3d(150%, 0, 0);
      }
    }

    @keyframes skeleton-loader-pulse {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.4;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
